<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass It Around</title>
</head>
<body>
    <p>99 bottles of beer on the wall</p>
    <p><a href="/98">take one down, pass it around</a></p>
</body>
</html>