<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= bottles %> Bottles of beer on the wall.</p>
    <p><% if(bottles-1 === 0){ %>
        <p><a href="/">Start Over</a></p>
    <% } else { %>
        <p><a href="/<%= bottles-1 %>">take one down, pass it around</a></p>
   <% } %>
</body>
</html>